.container{
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../../assets/Images/bg.jpg")
  }

  .title {
    font-family: "EB Garamond", serif;
    font-size: 35px;
    font-weight: 600px;
    color: #fff;
  }

  .titleContainer{

    margin: 1rem;
    margin-left: 2rem;
  }

  .line{

    width: 98%;
    height: 1px;
    background-color: #fff;
    margin-top: 1.5rem;
    opacity: 0.4;
  }


  .wrapper {
    width: 720px;
    margin-top: 2rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);  
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  
  }
  
  .wrapper h1 {
    font-size: 22px;
    text-align: center;
  }
  
  .wrapper .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }
  
  .inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(253, 253, 253, 0.807);
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    opacity: 0.5;
  }
  
  .inputbox input::placeholder {
    color: #fff;
  }
  
  .inputbox .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  
 
  .registerlink{

    text-decoration: underline;
  }
  
  .wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  .wrapper .register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  
  
  .content {
    
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  .button{
  
    color: #333;
    text-decoration: none;
  }
  
  .menu{
    width: 98.5%;
    height: 100%; 
    outline: none;
    border: 2px solid rgba(253, 253, 253, 0.807);
    border-radius: 20px;
    font-size: 12px; 
    padding: 10px 10px 8px 20px;
    background: transparent;
    opacity: 0.5;
  }
  
 
  
  /* YourStyles.module.css */

/* YourStyles.module.css */

.verticalInput {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputbox {
  position: relative;
  margin-bottom: 15px;
}

.inputbox input {
  width: calc(100% - 10px); /* Subtracting 30px for the icon width and the gap */
  padding-right: 90px /* Adjust as needed */
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

/* YourStyles.module.css */

/* Style for the select dropdown */
.selectDropdown {
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
 
}

/* Style for the options */
.selectDropdown option {
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
}
