.container{
    height: 100vh;
  overflow: hidden;
  background: url("../../../assets/Images/login4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container2{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper{

  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);  
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 4.2rem;
  box-sizing: border-box;

}

.wrapper h1{
  width: 100%;
  margin-left: 35%;
  margin-top: 1rem;
}
.container3{
  display: flex;
  padding: 3rem;
}


.wrapper1,
.wrapper2 {
  flex: 1;
  padding: 1rem 1rem; /* Adjust padding as needed */
  box-sizing: border-box;
}


.inputbox{

  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputbox input{

    width: 500px;
    height: 100%;
    margin-bottom: 5px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 12px; 
    padding: 20px 100px 20px 20px;
  }

  .inputbox input::placeholder {
    color: grey;
    filter: opacity(40%);

  }

  .inputbox .icon {
    position: absolute;
    right: 8px;
    top: 83%;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    
  }

  .inputbox input{

      margin-top: 2px;
  }

.menu{
  width: 500px;
  height: 100%; 
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 12px; 
  padding: 10px 100px 8px 20px;
}

.buttonContainer{
  
  
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}

.wrapper2 button{


  width: 10rem;
  height: 45px;
  background-color: rgb(255, 119, 0);
  background-size:cover;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

}


.button{
  display: flex;
  
  justify-content: center;
  color: #fff;
  text-decoration: none;
}


.plus{

  margin-left: 5px;
}


  





