.container{

   display: flex;
   justify-content: center;
}

.trademark{

    margin-left: 1rem;
    margin-top: 2rem;
    font-family: "EB Garamond", serif;
    font-size: 22px;
    color: #fff;
    
}

