@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,600&display=swap');

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.glass {

  height: 100%;
  background-color:  rgba(19, 19, 19, .5);
  border: 1.5px solid #585858;
  backdrop-filter: blur(10px); 
  border-radius: 15px; 
  padding: 15px;
  padding-bottom: 1.2rem;
  padding-left: 3rem; 
  padding-right: 3rem;
}


.title {
  font-family: "EB Garamond", serif;
  font-size: 35px;
  font-weight: 600px;
  text-decoration: none;
  color: var(--color-text);
}




.menuItems {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  gap: 40px;
  list-style: none;

}

.link {

  font-size: 15px;
  color: var(--color-text);
  text-decoration: none;
}


.menuItems li {
  position: relative;
  cursor: pointer; /* Add cursor pointer to indicate interactivity */
}

.menuItems li::after {
  content: '';
  position: absolute;
  left: 0;
  /* bottom: -5px; Adjust the distance of the underline from the text */
  margin-top: 1.75rem;
  width: 0;
  height: 1px; /* Adjust the thickness of the underline */
  background-color: rgb(244, 195, 132); /* Adjust the color of the underline */
  transition: width 0.7s ease; /* Add transition for smooth animation */
}

.menuItems li:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.menuItems li :hover {
  color:rgb(244, 195, 132);
}

@media screen and (min-width : 830px) {
  .menuBtn{

    display: none;
  }
  
}
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
  }
  .menuBtn {
    
    
    width: 1rem;
    cursor: pointer;
  }

  .menuItems{

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 58, 109);
    background: linear-gradient(

    0deg,
    rgba(25,55,109,0.2) 0%,
    rgba(25,55,109,1) 100% 

    );
    padding:  24px 33px;
    box-shadow : 0 0 4px 0 rgba(0,0,0,0.25);

  }

  .menuOpen{

    display: flex;
  
  }
  .button{

    color: #333;
    text-decoration: none;
}
}
