.container{

    position: relative;
    margin: 0;
    
}

.items{

    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 7rem;
    margin-top: 2rem;    
}

.items h3{
    
    margin-bottom: 2rem;
    padding-bottom: 10px;
    border-bottom: 5px solid #0a0d6e91;
    display: inline;
}

.listItems{

    display: flex;
    color: #fff;
    flex-direction: column;
    list-style: none;
    gap: 3rem;
    align-items:center ;
    
}



